<div class="container-fluid">
	<div class="jumbotron text-center">
  		<h1>Online Programming</h1>
  		<form action="/Logout" method="POST">
  			<button type="submit" value="Logout"> Logout </button>
  		</form
	</div>	
</div>